@font-face {
  font-family: "Circular Std Medium";
  src: url("/fonts/circular-std-medium-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.lato-font {
  font-family: Lato, sans-serif;
}

.mulish-font {
  font-family: Mulish, sans-serif;
}

.poppins-font {
  font-family: Poppins, sans-serif;
}

body {
  font-family: "Circular Std Medium", sans-serif;
}

.nav-item:hover {
  background-color: #e6b014;
  border-left-width: 3px;
}
