@font-face {
  font-family: "Circular Std Medium";
  src: url("/fonts/circular-std-medium-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.lato-font {
  font-family: Lato, sans-serif;
}

.mulish-font {
  font-family: Mulish, sans-serif;
}

.poppins-font {
  font-family: Poppins, sans-serif;
}

body {
  font-family: "Circular Std Medium", sans-serif;
}

.nav-item:hover {
  background-color: #e6b014;
  border-left-width: 3px;
}

/* Custom styles for mobile menu animation */
.mobile-menu {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.open {
  transform: translateX(0);
}

/* Custom styles for the tooltip */
.chartjs-tooltip {
  background: white;
  color: #002855;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 60px;
  border-radius: 5px;
  position: absolute;
  pointer-events: none;
  transform: translate(45%, 20%);
  text-align: center;
  font-weight: 500;
}

.chartjs-tooltip-mobile-dashboard {
  background: white;
  color: #002855;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 60px;
  border-radius: 5px;
  position: absolute;
  pointer-events: none;
  transform: translate(45%, 20%);
  text-align: center;
  font-weight: 500;
}
/* chart 3 */
/* @media screen and (min-width: 1200px) {
  #myChart3 {
    width: 100px;
  }
} */
