@font-face {
  font-family: "Circular Std Medium";
  src: url("/fonts/circular-std-medium-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.lato-font {
  font-family: Lato, sans-serif;
}

.mulish-font {
  font-family: Mulish, sans-serif;
}

.poppins-font {
  font-family: Poppins, sans-serif;
}

body {
  font-family: "Circular Std Medium", sans-serif;
}

.nav-item:hover {
  background-color: #e6b014;
  border-left-width: 3px;
}

.pt-6{
  padding-top: 1.0rem;
}

/* Custom styles for mobile menu animation */
.mobile-menu {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.open {
  transform: translateX(0);
}
