.prospect-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.prospect-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-right: 150px;
}

.prospect-row.header {
    font-weight: bold;
}

.prospect-row img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.prospect-row span {
    flex: 1;
    text-align: center;
}

.buttons-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 0;
    gap: 10px;
}

.kb-1{
    font-family: Circular Std;  
    font-weight: 450; 
    font-size: 25px;
}

.kb{
    margin-left: 10px;
    font-size: 20px;
}



.header span{
    font-family: Circular Std;  
    font-weight:700;
    font-size:12px;
    color: #7F8B94;
}
.row span{
    font-family: Circular Std;  
    font-weight:450;
    font-size:12px;
    color: #353535;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.cancel {
    background-color: #ddd;
}

button.create {
    background-color: #007bff;
    color: white;
}

/* media query for smaller screen */
@media screen and (max-width: 480px) {
    .second-container{
        padding: 10px;
    }

    .prospect-list {
        width: 100%;
        margin-bottom: 10px;
    }

    .prospect-row {
        /* flex-direction: column;
        align-items: flex-start; */
        padding: 5px 0;
        margin-right: 0;
    }

    .prospect-row img {
        display: none;
        width: 20px;
        height: 20px;
    }

    .prospect-row span {
        text-align: left;
        width: 100%;
        margin-bottom: 5px;
    }

    .buttons-2 {
        flex-direction: column;
        margin-top: 50px;
        gap: 5px;
    }

    h2.kb-1 {
        font-size: 17px;
    }

    .kb {
        font-size: 16px;
    }

    .header span {
        font-size: 10px;
    }

    .row span {
        font-size: 10px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .btn2{
        align-self: center;
        width: 60%;
    }
}