/* new_prospect.css */

@font-face {
    font-family: "Circular Std Medium";
    src: url("/fonts/circular-std-medium-500.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* font */
h1, h2, h3, p, label {
    font-family: "Circular Std Medium", sans-serif;
    color: #585858;
}

h2 {
    font-weight: 450;
}

input{
    font-weight:450;
    font-size:20px;
}

label.center{
    text-align: center;
}

/* header */
.header{
    margin-top: 5px;
    margin-bottom: 9px;
    font-weight: 700;
}



/* Container for the entire prospect section */
.prospect-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    /* margin-left: 40px;
    margin-right: 40px; */
    width: 100%;
    height: 95%;
    margin: auto;
    padding-bottom: 40px;
}

/* Heading for the section */
.prospect-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Container for creation type options */
.creation-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the cancel link */
.creation-type .cancel {
    color: rgb(0 40 85 / var(--tw-bg-opacity));
    text-decoration: none;
    font-weight: 500;
        margin-bottom: 25px;
}

/* Container for the form */
.form-container {
    background-color: #fff;
    border-radius: 8px;
    /* padding: 20px; */
    width: 95%;
    margin-top: 20px;
}

/* Form styling */
.prospect-form {
    display: flex;
    flex-direction: column;
}

/* Row grouping for form elements */
.form-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* Grouping for form elements */
.form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}

/* Half-width form group */
.form-group.half-width {
    width: 23%;
}

/* Labels for form elements */
.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* Input fields */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
    border: 1px solid #ced4da;
    border-radius: 15px;
    padding: 8px;
    font-size: 16px;
}

/* Radio buttons for gender */
.form-group input[type="radio"] {
    margin-right: 5px;
}

/* radio button color */
input[type="radio"] {
    accent-color: black;
}

/* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 8px;
}


.dropdown select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 140 140" xmlns="http://www.w3.org/2000/svg"><polygon points="70,100 30,40 110,40" fill="black"/></svg>') no-repeat right 10px center;
    background-size: 10px;
}
.form-group select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 140 140" xmlns="http://www.w3.org/2000/svg"><polygon points="70,100 30,40 110,40" fill="black"/></svg>') no-repeat right 10px center;
    background-size: 10px;
}
/* Submit button */
.create-prospect {
    align-self: flex-end;
    background-color: rgb(0 40 85 / var(--tw-bg-opacity));    
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    width: 190px;
}
.create-prospect-1 {
    align-self: flex-end;
    background-color: #fff;    
    border: 2px #002855 solid;
    border-radius: 4px;
    color: #002855;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    width: 190px;
}

/* Change background color on hover */
.create-prospect:hover {
    background-color: #0056b3;
}

/* BULK UPLOAD */
/* Container for bulk upload section */
.bulk-upload-container {
    display: none;
    /* Initially hidden */
    background-color: #fff;
    border-radius: 8px;
    padding: 3px;
    margin-top: 20px;
    /* text-align: center; */

}
.bulk-upload-container h3{
    font-weight: 500;
    font-size: 22px;
    color: #32404F;
}

.small{
    color: #AFB0B1;
    font-family: Circular Std;
    font-weight:  500;
    font-size:  18px;
}

.color{
    color: #EAB323;
}

/* Upload area styling */
.upload-area {
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 40px;
    margin-bottom: 20px;
    text-align: center;
}

/* Upload icon styling */
.upload-icon {
    display: flex;
    justify-content:center;
    cursor: pointer;
    /* background-color: #F4F4F4; */
}
.upload-icon img {
    display: flex;
    justify-content:center;
    width: 50px;
    padding: 7px;
    margin-bottom: 10px;
    background-color: #F4F4F4;
    border-radius: 50%;
}

/* Download template button styling */
.download-template {
    background-color: rgb(0 40 85 / var(--tw-bg-opacity));
    border: none;
    margin-top: 10%;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Change background color on hover */
.download-template:hover {
    background-color: #0056b3;
}


/* smaller screens */
@media only screen and (max-width:400px) {
    h2,
    label {
        font-size: smaller;
    }
    .prospect-container h2{
        font-size: 20px;
    }
    .creation-type .cancel{
        margin-bottom: 10px;
        font-size: smaller;
    }
    .span{
        display: flex;
        flex-direction: column;
    }

    .create-prospect{
        /* width: 70%; */
    }
}